.text-white{
  color: var(--q-background-text) !important;
}
.bg-primary{
  background-color: var(--q-primary);
  color: var(--q-primary-text) !important;
}
.bg-secondary{
  background-color: var(--q-secondary);
  color: var(--q-secondary-text) !important;
}
.bg-tertiary{
  background-color: var(--q-tertiary);
  color: var(--q-tertiary-text) !important;
}
.text-tertiary{
  color: var(--q-tertiary);
}
.bg-accent{
  background-color: var(--q-accent);
  color: var(--q-accent-text)
}
.bg-background{
  background-color: var(--q-background);
  color: var(--q-background-text)
}
.bg-background-page{
  background-color: var(--q-background-page);
  color: var(--q-background-text)
}
