.bg-primary{
  color: $primary-constrast-text !important;
}
.bg-secondary{
  color: $accent-constrast-text !important;
}
.bg-accent{
  color: $accent-constrast-text !important;
}
.bg-warning{
  color: $warning-constrast-text !important;
}
.bg-info{
  color: $info-constrast-text !important;
}
.bg-positive{
  color: $positive-constrast-text !important;
}
.bg-negative{
  color: $negative-constrast-text !important;
}
