.q-field--outlined {
  .q-field__native{
    color: var(--q-background-text);
  }
  .q-field__control:before{
    border: 1px solid var(--q-background-caption);
  }
  .q-field__control:hover:before{
    border: 1px solid  var(--q-background-text);
  }

  .q-field__label{
    color: var(--q-background-caption);
  }

  .q-icon{
    color: var(--q-background-caption);
  }

}

.q-menu{
  background: var(--q-background-page);
  color: var(--q-background-text)
}
