.primary-brightness {
  box-shadow: $primary-brightness !important;
}
.secondary-brightness {
  box-shadow: $secondary-brightness !important;
}
.default-brightness {
  box-shadow: $default-brightness !important;
}
.accent-brightness {
  box-shadow: $accent-brightness !important;
}
.info-brightness {
  box-shadow: $info-brightness !important;
}
.positive-brightness {
  box-shadow: $positive-brightness !important;
}
.negative-brightness {
  box-shadow: $negative-brightness !important;
}
.warning-brightness {
  box-shadow: $warning-brightness !important;
}
