body{
  &.body--light {
    color: $text-primary !important;
    background: $dark-page !important;
  }

  &.body--dark {
    color: $text-primary !important;
    background: $dark-page !important;
  }

}

.q-dark {
  color: $text-primary;
  background: $dark;
}
