.border-dashed {
  border: 1px dashed $text-disabled;
}
.border-dashed-right {
  border-right: 1px dashed $text-disabled;
}
.border-default {
  border: 1px solid var(--q-divider);
}

.circle-border {
  border-radius: 50%;
}

.border-radius-lg {
  border-radius: 32px;
}

.border-radius-md {
  border-radius: 16px !important;
}

.border-radius-sm {
  border-radius: 8px;
}

.border-primary {
  border-color: $primary-opacity-30;
}
