// app global css in SCSS form

.bg-background{
  background-color: $background;
}
.bg-b-grey-1{
  background-color: $b-grey-1;
}
.bg-b-grey-2{
  background-color: $b-grey-2;
}
.bg-b-grey-3{
  background-color: $b-grey-3;
}
